
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* text styles */
h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #383838;
}

h2 {
    font-size: 1.5rem;
    color: #383838;
    font-weight: 500;
}

p {
    font-size: 1.125rem;
    color: #747474;
    line-height: 150%;
    font-weight: 300;
}


/* buttons */

button {
    min-height: 2rem;
    min-width: 2rem;
    border: none;
    border-radius: 12px;
}

.button-transparent {
    background-color: white;
    color: #747474;
    padding: 0.5rem 1rem ;
    font-weight: 500;
    font-size: 1.125rem;
}

.button-transparent:hover {
    background-color: #f3f3f3;
    color: #383838;
}

.button-transparent.active {
    color: #383838;
}


/* common list stuff */
ul {
    list-style-type: none;
    display: flex;
}


/* menu -> used for all pages */
.menu-container {
    position: sticky;
    top: 0px;
}


.menu {
    height: 60px;
    border-bottom: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 1.5rem;
    border-radius: 0 0 0 12px;
    position: absolute;
    right: 0px;
}

.menu-list {
    flex-direction: row;
    gap: 0.5rem;

}

/* div property */

.centered-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* text property */

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}