
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --dark: #383838;
    --grey: #747474;
    --primary: #3A49E7;
    --light-grey: #f3f3f3;
    --border: #D1D1D1;
}

/* text styles */
h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark);
}

h2 {
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: 500;
}

h3 {
    font-size: 1,125rem;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
    color: var(--grey);
    line-height: 150%;
    font-weight: 300;
    /* max-width: 600px; */
}

.dark {
    color: var(--dark);
}

.grey {
    color: var(--grey);
}

.italic {
    font-style: italic;
    font-weight: 100;
    
}



/* buttons */

button {
    min-height: 2rem;
    min-width: 2rem;
    border: none;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}

.button-primary {
    padding: 0.5rem 1.25rem;
    height: 40px;
    background-color: var(--primary);
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
}

.button-primary:hover {
    background-color: var(--dark);
}

.button-transparent {
    background-color: transparent;
    color: var(--grey);
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1.125rem;
}

.button-transparent:hover {
    background-color: var(--light-grey);
    color: var(--dark);
}

.button-transparent.active {
    color: var(--dark);
}

.social {
    border-radius: 64px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* common list stuff */
ul {
    list-style-type: none;
    display: flex;
}

li {
    width: fit-content;
}

a {
    width: fit-content;
    text-decoration: solid;
    color: var(--primary);
}

.grey-link {
    color: var(--grey);
}

.grey-link:hover {
    color: var(--dark)
}



/* div property */

.centered-div {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* text property */

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}


/* menu -> used for all pages */
.menu-container {
    position: sticky;
    top: 0px;
}

.menu {
    height: 60px;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 1.5rem;
    border-radius: 0 0 0 12px;
    position: absolute;
    right: 0px;
}

.menu-list {
    flex-direction: row;
    gap: 0.5rem;

}

/* social list for all pages */

.social-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* divider */

.divider {
    display: flex;
    width: 100%;
    padding-top: 9.75rem;
    padding-bottom: 8rem;
    justify-content: center;
    align-items: center;
}
.divider img {
    max-width: 80%;
}

/* footer */
footer {
    background-color: var(--light-grey);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.footer-image {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: left;
}

.footer-list {
    flex-direction: column;
}

.footer-social {
    padding-left: 0.5rem;
    padding-top: 1rem;
}

/* testimonials */
.testimonial-div {
    gap: 8rem;
    padding: 0rem 1rem 200px 1rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    max-width: 800px;
}

.testimonial img {
    width: 40px;
    padding-bottom: 0.75rem;
}

.testimonial p {
    width: 100%;
    max-width: 800px;
}


@media only screen and (max-width: 800px) {
  

  footer {
    padding: 4rem 1.5rem 4rem 1.5rem;
    flex-direction: column;
    align-items: start;
    gap: 4rem;
    width: 100%;
    box-sizing: border-box;
  }

  

  .footer-list {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }

  .divider {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  .centered-div {
    padding: 0 1.5rem;
  }

  .testimonial-div {
        padding: 0 1.5rem 100px 1.5rem;
        gap: 6rem;
    }

    .testimonial img {
        width: 24px;
        padding-bottom: 00rem;
    }

}


@media only screen and (max-width: 500px) { 
    
    

    .menu-container {
        width: 100%;

    }
    .menu {
        width: 100%;
        border-left: 0px;
        border-radius: 0;
        padding: 0;
    }

    .menu-list {
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .social-list {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }

    li {
        width: auto;
    }

    .centered-div {
        gap: 1rem;
    }

    footer {
        width: 100%;
    }

    .footer-right {
        width: 100%;
    }

    .divider img {
        max-width: 100%;
        width: 95%;
    }


}